.row
  .col-md-8.p-a-md
    %h5.card-title
      show results by
    %br

    %form
      .form-group.row
        %label.col-sm-2.form-control-label{ for: 'serving' } serving
        .input-group.col-sm-3
          %input.form-control{ placeholder: 'serving', type: 'text' }/
          .input-group-addon .00
      .form-group.row
        %label.col-sm-2 unity
        .col-sm-10
          .radio
            %label
              %input{:checked => "checked", :name => "name", :type => "radio", :value => "gram"}/
              grams
          .radio
            %label
              %input{:name => "name", :type => "radio", :value => "fl"}/
              fl
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "oz"}/
              oz
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "cups"}/
              cups
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "spoon"}/
              spoon
          .radio
            %label
              %input{ :name => "name", :type => "radio", :value => "tea-spoon"}/
              tea spoon
  .col-md-4.p-a-md
    .card.card-block{:style => "padding"}
      %h4.card-title TITLE
      %p.card-text
        This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
      %p.card-text
        %small.text-muted last updated 3 mins ago

- @aliments.each do |aliment|
  = link_to aliment.name, aliments_path(id: aliment)
  %br

= paginate @aliments
