%h2 Introduction
.readable
  %p
    CalorieKing provides products and services designed to educate, motivate and inspire lifelong weight
    control. To achieve this, we have determined that everything we do should be science-based, and
    equally important, our products and programs must produce the results our members and visitors
    desire. To this end, CalorieKing's web-based and clinical tools and software include reliable
    information in a format that is useful every day. We believe this approach will lead to positive
    permanent change and better health.
  %p
    An important component of the CalorieKing product suite is our food database. CalorieKing's food data
    is widely recognized as the best available for weight control. This is important, because everyday we are
    bombarded with half-truths about food. For the most part, the messages have the same objective - to
    get us to buy and consume more of it. CalorieKing food data sets the record straight about the caloric
    value of the foods we encounter each day.
  %p
    The science is clear, obesity, left untreated, will return. Many researchers and healthcare providers now
    recognize obesity as a chronic disease. Treatment involves vigilant behavior change and
    encouragement. CalorieKing is working with partners to merge our popular consumer tools with
    clinical programs to help those who need more intensive assistance during their lifelong journey to
    control their weight. Please visit our Press page to learn more about our efforts and our partners.

%div{ style: "clear: both" } <!-- -->