#page #content-container {
  font-family: Arial, Helvetica, sans-serif;
}

.trans {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.clear {
  clear: both;
}

a:active,
a:focus {
  top: 1px;
}

.cta {
  background: #52b0bf;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: white;
  padding: 8px 14px;
  text-decoration: none;
  color: #fff !important;
  height: auto;
  width: auto;
  position: relative;
  font-size: .875em;
}

.cta:hover {
  background: #f2684f;
}

.minor {
  background: #cae8ed;
  color: #266873 !important;
  text-shadow: none;
  font-weight: normal !important;
}

.minor:hover {
  color: #fff !Important;
  background: #f2684f !important;
}

#page-content {
  background: #fcfcfc;
  width: 90%;
  margin: 0 auto;
  width: 953px;
  float: none;
  border: 1px solid #ccc;
  padding-left: 0;
  overflow: auto;
  border-top: 0;
}

#breadcrumbs span {
  display: none;
}

#content-container {
  font-size: 1.6em;
  margin-left: 0;
}

#content-container h2,
#content-container h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content-container #mFoodSearch {
  width: 300px;
  position: relative;
  float: left;
}

#content-container #mSearch {
  width: 913px;
  padding: 15px 20px;
  overflow: auto;
}

#content-container #mSearch p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 6px 15px 0;
  float: right;
  color: #777;
  font-size: 1em;
}

#content-container #mSearch .cta {
  float: right;
}

#content-container #mSearch #food-search-keywords {
  font-size: 1em;
  padding: 6px 20px 6px;
  border: 1px solid #ccc;
  width: 240px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px;
  color: #999;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
}

#content-container #mSearch #food-search-keywords:focus {
  border-color: #f2a71b;
  -moz-box-shadow: 0px 0px 10px rgba(242, 167, 27, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(242, 167, 27, 0.5);
  box-shadow: 0px 0px 10px rgba(242, 167, 27, 0.5);
  color: #555;
}

#content-container #mSearch #mGo {
  position: absolute;
  text-indent: -9999em;
  border: 0;
  right: 30px;
  top: 8px;
}

#content-container #mSearch.sticky {
  position: fixed;
  top: 0;
  z-index: 200;
  -moz-box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.5);
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

#content-container #food-info #food-breadcrumbs {
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid #7fc4d0;
  padding-left: 20px;
}

#content-container #food-info #food-breadcrumbs li {
  float: left;
  list-style: none;
  font-size: .75em;
  color: #fff;
  margin: 1em 1em 0;
  margin-left: 0;
  padding-bottom: 1em;
  position: relative;
}

#content-container #food-info #food-breadcrumbs li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  margin-right: 10px;
  position: relative;
}

#content-container #food-heading {
  font-size: 1em;
  text-transform: none;
  padding-left: 20px;
  background: #52b0bf;
  margin: 0;
  padding-top: .5em;
  padding-bottom: 1.5em;
  padding-right: 230px;
}

#content-container #food-heading #heading-calories-in {
  display: block;
  text-transform: none;
  font-weight: normal;
  margin-bottom: -2px;
  margin-top: 15px;
  font-size: 1em;
  color: #fff;
  opacity: .8;
  font-family: Arial, Helvetica, sans-serif;
}

#content-container #food-heading #heading-food-cat-desc {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.25em;
}

#content-container #submission {
  background: #52b0bf;
}

#content-container #submission div#serving-controls {
  background: #52b0bf;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative;
  z-index: 4;
}

#content-container #submission #label-serving-size {
  font-size: 1em;
  display: block;
  padding-top: 13px;
  opacity: .8;
}

#content-container #submission #amount,
#content-container #submission #units {
  font-size: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#content-container #submission #amount:focus,
#content-container #submission #units:focus {
  border-color: #57bccc;
  -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  color: #555;
}

#content-container #submission #amount {
  width: 32px;
  margin-top: 3px;
  padding: 8px;
}

#content-container #submission #units {
  padding: 6px;
  background: #fff;
  margin-top: 6px;
  outline: 0;
  width: 250px;
  height: 37px;
}

#content-container #food-info-container {
  margin: 0px;
  padding: 10px 20px 11px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f4f4f4 url('/branding/ck/foods/new/bg-ex.gif') bottom repeat-x;
  position: relative;
}

#content-container #food-info-container #cal-indi {
  position: absolute;
  left: 60px;
  top: -26px;
  background: url('/branding/ck/foods/new/cal-indi.gif') top left no-repeat;
  height: 32px;
  width: 51px;
}

#content-container #food-info-container #mCalorie {
  width: 356px;
  float: left;
  line-height: 1;
  margin: 15px 0 25px 0;
  color: #266873;
}

#content-container #food-info-container #mCalorie #mCal {
  font-size: 6em;
  font-weight: bold;
}

#content-container #food-info-container #mCalorie #mCalLabel {
  font-size: 2.5em;
}

#content-container #food-info-container #mCalorie a {
  margin-top: 0px;
  float: left;
}

#content-container #food-info-container #mAdvert {
  float: left;
  display: inline;
  width: 350px;
  padding: 20px 0;
  margin-left: 35px;
  position: relative;
  z-index: 2;
}

#content-container #food-info-container #mAdvert a {
  position: relative;
  z-index: 100;
}

#content-container #food-info-container #mAdvert h2 {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: bold;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-right: 160px;
  font-family: Arial, Helvetica, sans-serif;
  color: #266873;
}

#content-container #food-info-container #mAdvert p {
  font-size: .875em;
  margin: 0 0 15px;
  padding-right: 140px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #999;
}

#content-container #food-info-container #mAdvert img {
  position: absolute;
  bottom: -15px;
  right: -58px;
}

#content-container #mData {
  background: #f9f9f9;
  padding: 20px;
  overflow: auto;
}

#content-container #mData #mBurn {
  float: left;
  width: 176px;
  padding: 0 30px;
}

#content-container #mData #mBurn p {
  color: #666;
  margin-top: -10px;
  margin-bottom: 25px;
}

#content-container #mData #mBurn h3 {
  font-size: 1.75em;
  margin-top: .15em;
  color: #52b0bf;
}

#content-container #mData #mBurn h3 sup {
  top: -1em;
  font-size: 0.5em;
}

#content-container #mData #mBurn h2 {
  color: #52b0bf;
}

#content-container #mData #mBurn #mBurnGraph {
  width: 80%;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#content-container #mData #mBurn #mBurnGraph li {
  background: #e3e3e3;
  padding: 10px;
  width: 100%;
  list-style: none;
  height: 27px;
  margin: 10px 0;
  margin-left: 0;
  -webkit-border-radius: 50px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius: 50px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#content-container #mData #mBurn #mBurnGraph .mTime {
  background: #f26950;
  color: #fff;
  margin: -10px 15px -8px -10px;
  padding: 8px 10px 12px;
  min-width: 30px;
  height: 100%;
  display: block;
  float: left;
  line-height: 1.25em;
  text-align: center;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}

#content-container #mData #mBurn #mBurnGraph .mMinsLabel {
  display: block;
  font-size: .667em;
  line-height: .5em;
  padding-bottom: 3px;
}

#content-container #mData #mBurn #mBurnGraph .mActivity {
  position: absolute;
  color: #000;
  font-size: .875em;
  margin: 2px 0px 0px -7px;
}

#content-container #mData #mBurn #mTrackAd {
  padding: 10px 55px 10px 20px;
  font-size: .75em;
  padding-bottom: 20px;
  margin-top: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
}

#content-container #mData #mBurn #mTrackAd h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

#content-container #mData #mBurn #mTrackAd .cta {
  font-size: 1.25em;
}

#content-container #mData #mBurn #mTrackAd p {
  font-size: 1em;
  margin-top: 0px;
}

#content-container #mData #mBurn #mTrackAd #program-indi {
  background: url('/branding/ck/foods/new/program-indi.png') no-repeat top left;
  width: 47px;
  height: 19px;
  position: absolute;
  top: -19px;
  left: 20px;
}

#content-container #mData .footnote {
  font-size: .675em;
  margin: 2em 1em 0 1em;
}

#content-container #mData .footnote dt {
  float: left;
  margin-right: 10px;
}

#content-container #mData #mNutrient {
  float: left;
  width: 375px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
}

#content-container #mData #mNutrient a.compare-foods {
  display: inline-block;
  margin: 10px;
}

#content-container #mData .nutrient-facts {
  margin: 5px 0 15px 0;
  background: #fff;
}

#content-container #mData .nutrient-facts table {
  border-collapse: collapse;
  width: 100%;
}

#content-container #mData .nutrient-facts th {
  padding: 0.4em 0.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  border-top: 0;
}

#content-container #mData .nutrient-facts button {
  margin-left: 15px;
  margin-bottom: 15px;
  display: block;
  z-index: 100;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#content-container #mData .nutrient-facts table {
  margin-top: 3px;
  margin-bottom: 0;
  background: #fff;
  position: relative;
}

#content-container #mData .nutrient-facts table #calorie-density {
  position: absolute;
  top: 25px;
  right: 20px;
}

#content-container #mData #mNutrient #mNutrientTable th {
  font-size: 1.75em;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #52b0bf;
}

#content-container #mData .nutrient-facts table th {
  font-size: 1.75em;
  margin-bottom: 2px;
  margin-left: 0px;
  color: #52b0bf;
  background: none;
  text-transform: capitalize;
  border-bottom: 4px solid #ccc;
}

#content-container #mData .nutrient-facts table td {
  font-size: .875em;
  padding: 8px 8px 8px 20px;
  color: #666;
}

div.nutrient-facts table tr.energy td.kilojoules {
  text-align: right;
  vertical-align: middle;
}

#content-container #mData .nutrient-facts table .kilojoules-cell {
  text-align: right !important;
}

#content-container #mData .nutrient-facts table .energy td,
#content-container #mData .nutrient-facts table .fat-calories td {
  border-bottom: 2px solid #ccc;
}

#content-container #mData .nutrient-facts table .daily-value-header td {
  text-align: right;
}

#content-container #mData .nutrient-facts table .row-border td {
  border-top: 1px solid #ccc;
}

div.nutrient-facts table tr.total-fat td,
div.nutrient-facts table tr.cholesterol td,
div.nutrient-facts table tr.sodium td,
div.nutrient-facts table tr.total-carbs td,
div.nutrient-facts table tr.protein td,
div.nutrient-facts table tr.calcium td,
div.nutrient-facts table tr.potassium td,
div.nutrient-facts table tr.amino-acids td,
div.nutrient-facts table tr.lipids td,
div.nutrient-facts table tr.minerals td,
div.nutrient-facts table tr.proximates td,
div.nutrient-facts table tr.vitamins td,
div.nutrient-facts table tr.others td {
  border-top: 1px solid #ccc;
}

#content-container #mData .nutrient-facts table tr.total-fat td.label,
#content-container #mData .nutrient-facts table tr.cholesterol td.label,
#content-container #mData .nutrient-facts table tr.sodium td.label,
#content-container #mData .nutrient-facts table tr.total-carbs td.label,
#content-container #mData .nutrient-facts table tr.protein td.label,
#content-container #mData .nutrient-facts table tr.calcium td.label,
#content-container #mData .nutrient-facts table tr.potassium td.label,
#content-container #mData .nutrient-facts table tr.amino-acids td.label,
#content-container #mData .nutrient-facts table tr.lipids td.label,
#content-container #mData .nutrient-facts table tr.minerals td.label,
#content-container #mData .nutrient-facts table tr.proximates td.label,
#content-container #mData .nutrient-facts table tr.vitamins td.label,
#content-container #mData .nutrient-facts table tr.others td.label {
  font-weight: bold;
}

#content-container #mThirds {
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
  height: 290px;
}

#content-container #mThirds h2 {
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: #52b0bf;
  margin-top: 0;
  line-height: 1.2;
}

#content-container #mThirds p {
  font-size: .75em;
  margin-bottom: 1em;
}

#content-container #mThirds #mTrial,
#content-container #mThirds #mBook,
#content-container #mThirds #mAdvertisement {
  padding: 20px;
  float: left;
  display: inline;
  height: 250px;
}

#content-container #mThirds #mBook {
  float: right;
  overflow: hidden;
  width: 244px;
  background: url('/branding/ck/foods/new/book-bg.jpg') 75px 32px no-repeat;
}

#content-container #mThirds #mBook .now-here {
  font-weight: bold;
  display: block;
}

#content-container #mThirds #mBook .kindle-ipad {
  margin-top: 15px;
}

#content-container #mThirds #mBook .buy-book-visit-store {
  margin-top: 20px;
}

#content-container #mThirds #mBook .kindle-ipad a {
  display: inline-block;
}

#content-container #mThirds #mTrial {
  padding-left: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: url('/branding/ck/foods/new/7day-bg.jpg') right bottom no-repeat;
  width: 245px;
}

#content-container #mThirds #mTrial p {
  padding-right: 90px;
}

#content-container #mThirds #mAdvertisement {
  margin-right: 0;
  text-align: center;
  float: left;
  padding: 20px;
  width: 300px;
}

#content-container #mThirds #mAdvertisement h2 {
  padding-right: 0;
}

#content-container #mThirds #mAdvertisement p {
  padding-right: 60px;
}

#content-container #mThirds #mAdvertisement #mFormHold {
  background: #e3e3e3;
  padding: 4px 7px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

#content-container #mThirds #mAdvertisement #mFormHold #email {
  font-size: .75em;
  padding: 9px 7px 7px;
  width: 57%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-right: 80px;
}

#content-container #mThirds #mAdvertisement #mFormHold #free-tips-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  *padding: 4px;
  border-color: transparent;
  font-weight: normal;
  height: 31px;
  position: absolute;
  right: 7px;
  top: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

h2#food-heading {
  padding-right: 175px;
}

span#heading-foot-cat-desc {
  padding-right: 0;
}

span#heading-food-cat-desc a {
  color: #fff;
}

div#food-info-container {
  float: left;
  width: 913px;
}

div.nutrient-facts table th {
  font-weight: normal;
  height: auto;
}

span.calorie-density {
  float: right;
}

#numError {
  background: #fc5057;
  display: none;
  position: absolute;
  z-index: 5;
  width: 180px;
  padding: 8px 16px;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  top: 75px;
  left: -7px;
  margin-top: 5px;
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#numError .errHead {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-top: 0.25em;
}

#numError span.message {
  display: block;
  font-size: 12px;
  margin-top: 0.5em;
  margin-bottom: .5em;
  line-height: 1.35em;
}

#numError:after {
  content: "";
  position: absolute;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fc5057;
}

div.nutrient-facts table tr th span.calorie-density {
  float: right;
  font-size: 0.7em;
  font-weight: normal;
  line-height: 2em;
}

div.nutrient-facts table tr th span.calorie-density span.stars {
  width: 70px;
  height: 15px;
  line-height: 15px;
  display: inline-block;
  background: url('/branding/ck/foods/icon_star_rows.gif') no-repeat;
}

div.nutrient-facts table tr th span.calorie-density span.stars.one-star {
  background-position: 15px -40px;
}

div.nutrient-facts table tr th span.calorie-density span.stars.two-star {
  background-position: 15px -25px;
}

div.nutrient-facts table tr th span.calorie-density span.stars.three-star {
  background-position: 15px -10px;
}

div.nutrient-facts table tr th span.calorie-density span.stars.four-star {
  background-position: 15px 5px;
}

div.nutrient-facts table tr th span.calorie-density a {
  font-size: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

div.nutrient-facts table tr.sat-fat td.label,
div.nutrient-facts table tr.trans-fat td.label,
div.nutrient-facts table tr.fiber td.label,
div.nutrient-facts table tr.sugars td.label,
div.nutrient-facts table tr.sugar-alcohol td.label,

div.nutrient-facts table tr.vitamin_c td.label,
div.nutrient-facts table tr.vitamin_e_alpha_tocopherol td.label,
div.nutrient-facts table tr.vitamin_d_d2_d3 td.label,
div.nutrient-facts table tr.vitamin_d td.label,
div.nutrient-facts table tr.vitamin_k td.label,
div.nutrient-facts table tr.vitamin_e_added td.label,
div.nutrient-facts table tr.vitamin_a_rae td.label,
div.nutrient-facts table tr.retinol td.label,
div.nutrient-facts table tr.pantothenic_acid td.label,
div.nutrient-facts table tr.alpha_carotene td.label,
div.nutrient-facts table tr.vitamin_b6 td.label,
div.nutrient-facts table tr.beta_carotene td.label,
div.nutrient-facts table tr.cryptoxanthin td.label,
div.nutrient-facts table tr.vitamin_a_iu td.label,
div.nutrient-facts table tr.lycopene td.label,
div.nutrient-facts table tr.folate_total td.label,
div.nutrient-facts table tr.folic_acid td.label,
div.nutrient-facts table tr.folate_food td.label,
div.nutrient-facts table tr.folate_dfe td.label,
div.nutrient-facts table tr.choline td.label,
div.nutrient-facts table tr.niacin td.label,
div.nutrient-facts table tr.betaine td.label,
div.nutrient-facts table tr.vitamin_b12 td.label,
div.nutrient-facts table tr.thiamin td.label,
div.nutrient-facts table tr.vitamin_b12_added td.label,
div.nutrient-facts table tr.lutein_zeaxanthin td.label,
div.nutrient-facts table tr.riboflavin td.label,

div.nutrient-facts table tr.serine td.label,
div.nutrient-facts table tr.glutamic_acid td.label,
div.nutrient-facts table tr.proline td.label,
div.nutrient-facts table tr.glycine td.label,
div.nutrient-facts table tr.leucine td.label,
div.nutrient-facts table tr.isoleucine td.label,
div.nutrient-facts table tr.lysine td.label,
div.nutrient-facts table tr.methionine td.label,
div.nutrient-facts table tr.cystine td.label,
div.nutrient-facts table tr.phenylalanine td.label,
div.nutrient-facts table tr.tyrosine td.label,
div.nutrient-facts table tr.threonine td.label,
div.nutrient-facts table tr.valine td.label,
div.nutrient-facts table tr.arginine td.label,
div.nutrient-facts table tr.histidine td.label,
div.nutrient-facts table tr.alanine td.label,
div.nutrient-facts table tr.aspartic_acid td.label,
div.nutrient-facts table tr.tryptophan td.label,

div.nutrient-facts table tr.fatty_acids_polyunsaturated td.label,
div.nutrient-facts table tr.fatty_acids_monounsaturated td.label,
div.nutrient-facts table tr.fatty_acids_saturated td.label,

div.nutrient-facts table tr.selenium td.label,
div.nutrient-facts table tr.manganese td.label,
div.nutrient-facts table tr.copper td.label,
div.nutrient-facts table tr.phosphorus td.label,
div.nutrient-facts table tr.zinc td.label,
div.nutrient-facts table tr.magnesium td.label,
div.nutrient-facts table tr.iron td.label,

div.nutrient-facts table tr.theobromine td.label,
div.nutrient-facts table tr.caffeine td.label,
div.nutrient-facts table tr.alcohol td.label,

div.nutrient-facts table tr.water td.label {
  font-size: .75em !important;
  padding: 4px 4px 4px 40px !important;
  vertical-align: middle;
}

input#email.default-email {
  color: #999;
}

span#multiplier {
  display: inline-block;
  padding: 0 8px;
}

div#recalculate-container {
  display: inline;
}

#content-container #mData #mBurn #mTrackAd {
  background: #317c8a url('/branding/ck/foods/new/hed.png') no-repeat 161px 3px;
  margin: 0 -15px;
}

#content-container #mData #mBurn #mTrackAd h3 {
  color: #fff;
  font-weight: bold;
}

#content-container #mData #mBurn #mTrackAd p {
  color: #fff;
  margin-bottom: 16px;
}

#content-container #mData #mBurn #mTrackAd #hedProduct {
  position: absolute;
  bottom: 0;
  right: -1px;
}

#content-container #mData #mBurn #mTrackAd #hArrow {
  position: absolute;
  height: 24px;
  width: 64px;
  top: 5px;
  left: -75px;
  background: url(/branding/ck/foods/new/arrow.png) no-repeat;
}

#content-container #mData #mBurn #mTrackAd a.major {
  margin-bottom: 0px;
  display: inline-block;
}

#content-container #food-heading,
#content-container #submission,
#content-container #submission div#serving-controls {
  background: none;
}

#breadcrumbs {
  display: none;
}

#mAdvert img {
  right: -48px !important;
  bottom: -17px !important;
}

#food-info {
  background-color: #52b0bf;
  position: relative;
  z-index: 2;
}

#content-container #food-info-container #mAdvert a .promo-title {
  position: absolute;
  background: none;
  width: 407px;
  color: #fff !important;
  top: -150px;
  height: 212px;
  left: 0px;
  font-size: 1.1em;
  cursor: pointer;
}

#content-container #food-info-container #mAdvert a .promo-title strong {
  display: block;
  color: #ff9;
  font-size: 1.25em;
}

#page-content {
  position: relative;
}

#page-content #food-heading {
  padding-right: 260px;
}

#profile-sell {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 20px;
  background: #317c8a;
}

.survey {
  margin: 0;
}

.survey .svy-label {
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 18px;
}

#page-content .survey #svy-title {
  font-family: arial, sans-serif;
  color: #fff;
  font-size: 21px;
  margin-bottom: 1.5em;
}

#page-content #svy-intro {
  color: #fff;
}

.survey input,
.survey select {
  font-size: 21px;
  padding: 12px 0px 12px 8px;
  width: 90%;
  margin: .35em 0 .75em;
  font-family: Arial, sans-serif;
  border: none;
}

.survey select {
  padding-right: 8px;
  float: left;
  max-width: 123px;
  margin-right: 4px;
}

.ie7 .survey select {
  width: 123px;
}

.form-control {
  height: 2.2em;
  margin-bottom: 0 !important;
}

.fiddy {
  width: 50%;
  float: left;
  position: relative;
}

.in-field {
  color: #777;
  position: absolute;
  right: 30px;
  top: 24px;
  font-size: 16px;
  border: none;
}

.lbs {
  top: 44px;
}

#calculate {
  background: #235356;
  font-size: 18px !important;
  padding: 12px 24px !important;
  margin: 0em;
  margin-top: 7px !important;
  display: inline-block;
}

#profile-submit {
  float: left;
  width: 4.4em;
  height: 2.9em;
  cursor: pointer;
}

.ie8 #profile-submit {
  width: 3.5em;
}

#gender-submit {
  margin-top: 0.35em;
  overflow: auto;
}

#gender-submit select {
  margin-top: 0;
}

#serving-actions {
  margin: 20px 0 0 10px;
}

#serving-actions button#recalculate {
  float: left;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  line-height: 1.6rem;
  cursor: pointer;
}

#serving-actions a.cta {
  display: inline-block;
  padding: 10px 20px;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

#food-heading-profile {
  position: relative;
}

#google-ad-primary {
  float: right;
  margin: 10px 240px 10px 0;
}

#google-ad-secondary {
  margin: 20px 0;
}

.ie7 #content-container .marginCounter {
  margin-top: 0 !important;
}

.shape-up-2016 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 230px;
  padding-bottom: 45px;
  background: url('/branding/ck/foods/new/shapeup2016.png') bottom right no-repeat;
}

.shape-up-2016 .shape-up-2016__title {
  font-family: georgia;
  font-size: 30px;
  font-weight: bold;
  color: #266873;
  font-style: italic;
}

.shape-up-2016 .shape-up-2016__content {
  margin-bottom: 20px;
  width: 120px;
}

.shape-up-2016 .shape-up-2016__content .shape-up-2016__with {
  font-style: italic;
  text-align: left;
  color: #666;
  margin: 10px 0;
}

.shape-up-2016 a {
  display: inline-block;
}

div#mask {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  filter: alpha(opacity=50);
  background: #000;
  z-index: 201;
}

div#signup-response {
  font-family: verdana, sans-serif;
  line-height: 1.5em;
  display: none;
  position: fixed;
  background: #fff;
  width: 600px;
  padding: 30px;
  z-index: 202;
  margin: 0;
}

#signup-response h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #52b0bf;
}

div#signup-response div#signup-status {
  margin: 2em 0;
}

div#signup-response div#signup-status p#signup-status-msg {
  margin: 0;
}

div#signup-response div.navigation {
  margin: 0;
  padding: 0;
}

div#signup-response div.navigation a {
  display: inline-block;
}